extends layout

block content
  .login-container
    h2 #{title}
    if error
      .error-banner= error
    
    if client
      .client-info
        p
          strong #{client.clientName || client.clientId}
          |  is requesting access to your account
    
    form(action=`/interaction/${uid}/login`, method="post")
      .form-group
        label(for="email") Email:
        input.form-control(type="email", id="email", name="email", required, autofocus)
      
      .form-group
        label(for="password") Password:
        input.form-control(type="password", id="password", name="password", required)
      
      .form-actions
        button.btn.btn-primary(type="submit") Sign In
    
    if session
      details.session-debug
        h4 Session Information
        pre= session
    
    if dbg
      details.debug-info
        h4 Debug Information
        if dbg.params
          div
            strong Parameters:
            pre= dbg.params
        if dbg.prompt
          div
            strong Prompt:
            pre= dbg.prompt